
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleshome.css">
    <link rel="shortcut icon" href="edu-tech-logo.png" type="image/x-icon">
    <title>EDU-TECH</title>

</head>
<body>
    <header class="header">
        <a href="src\components\indexhome.html"><img id="logo" src="logo_text.png" alt="Company Logo"></a>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#Profile">Profile</a></li>
            </ul>
        </nav>

     
    </header>
    <div class="container">
        <img width="1348" height="550" src="education-open-book-blackboard-24neqyjtkzc2rc21.jpg" class="slider-11938 slide-11952" alt="Customer Learning solution" decoding="async" loading="lazy" rel="" title="Jan-08-Banner" style="margin: 0 auto; width: 100%" srcset="../H1/education-open-book-blackboard-24neqyjtkzc2rc21.jpg">
    <div class="text-center"><h1>“Imagination is more important than knowledge. For knowledge is limited, whereas imagination embraces the entire world.”</h1></div>
    </div>

    <div class="About">
        <center>
            <h2>ABOUT US</h2>
            <P>Since 1991, Edutech is a leading provider of World Class educational equipments, digital learning solutions and services for academic institutions, corporates & government initiatives.</P>
        </center>
    </div>
    <div class="courses">
        <h2>Courses</h2>
    </div>
        <div class="course-container">
            <article class="course-card course card--primary">
                <div class="course-card_banner">
                    Most popular
                </div>
                <h3>Web Development</h3>
                <div>Advanced  knowledge of full stack development</div>
                <div class="course-card__price--original"><s>$110</s></div>
                <div class="course-card__price">$93.6</div>
                <div class="period">/ month</div>
                <ul>
                    <li>All features of the Web development course</li>
                </ul>
                <a href="#" class="enroll">Choose Web Development</a>
            </article>
            <article class="course-card course card--primary">
                <div class="course-card_banner">
                    Highly in Demand
                </div>
                <h3>Web Development</h3>
                <div>Advanced  knowledge of full stack development</div>
                <div class="course-card__price--original"><s>$110</s></div>
                <div class="course-card__price">$93.6</div>
                <div class="period">/ month</div>
                <ul>
                    <li>All features of the Web development course</li>
                </ul>
                <a href="#" class="enroll">Choose Web Development</a>
            </article>
            <article class="course-card course card--primary">
                <div class="course-card_banner">
                    Most popular
                </div>
                <h3>Web Development</h3>
                <div>Advanced  knowledge of full stack development</div>
                <div class="course-card__price--original"><s>$110</s></div>
                <div class="course-card__price">$93.6</div>
                <div class="period">/ month</div>
                <ul>
                    <li>All features of the Web development course</li>
                </ul>
                <a href="#" class="enroll">Choose Web Development</a>
            </article>
        </div>
        <div class="signup">
            <form method="get">
                <div class="form-title"><h1>Book Mentor</h1></div>
                <label for="name">Name :
                    <input type="text" name="name" id="name" placeholder="Enter your Name" required>
                </label>
                <br>
                
                <label for="mb-num">Mobile Number :
                    <input type="text" name="number" id="mb-num" placeholder="Mobile number" required></label>
                    <br>
                <label for="email">Email-id :
                    <input type="email" name="email" id="email" placeholder="Email-id" required>
                </label><br>
                <button type="submit" id="bookMentorBtn">Book Mentor</button>
            </form>
        </div>
        <script>
            document.getElementById("bookMentorBtn").addEventListener("click", function(event){
                event.preventDefault();
                alert("Thank you for booking a mentor!");
                setTimeout(function(){
                    location.reload(); 
                }, 500); 
            });
        </script>

        
</body>
</html>
